<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',
	      filename='avr_mis.css') }}">
	<link rel="icon" href="static/img/repo_digital.png">

	<title>AVR CARGAR DATOS</title>

</head>
<body  style="overflow: hidden;">

<div class="row" style="height:75px;     min-width: 800px;">
	<div class="med-green-text" style="text-align:center;"> AVR Asistente Virtual </div>
	<div class="med-green-text" style="text-align:center;"> de Reclutamiento</div>
</div>

<div style="height: calc(100% - 140px); min-height:300px; min-width: 800px;">
	  <div class="column left" style="background-color:#ebdfc0;">
	  		<table align="center" >
  	      	<tr><td><img class="center_image" src="/static/img/repo_digital.png" alt="repo_digital" width="100" height="100"></td></tr>
    			<tr><td><a href="{{ url_for('home_page') }}" class="myButProy">Inicio</a></td></tr>
    			<tr><td><a href="{{ url_for('cargar_datos') }}" class="myButProy">Crear Modelo</a></td></tr>
    			<tr><td><a href="{{ url_for('proces_candi') }}" class="myButProy">Procesar Candidatos</a></td></tr>
				<tr><td><a href="{{ url_for('analisis_candi') }}" class="myButProy">Analisis de Candidato</a></td></tr>
    			<tr><td><a href="{{ url_for('pie') }}" class="myButProy">Generacion de Estadisticas</a></td></tr>
    			<tr><td><a href="#" class="myButProy">Ayuda</a></td></tr>
	 		</table>
	  </div>
	  <div id="WorkArea_CD" class="column right" style="background-color:#bfa38a; overflow: auto;">
		    <p class="css-3d-footer-text-big" style="padding-left: 30px;">Analisis Candidato</p>

	  </div>
</div>

<div class="footer" style="height:50px;    min-width: 800px;">
  	<div class="css-3d-footer-text">UAG Proyectos De Maestria MCC</div>
</div>

</body>
</html>
