<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Custom File-Input</title>
    <link rel="stylesheet" href="{{ url_for('static',
	      filename='avr_form.css') }}">   
	 <link rel="stylesheet" href="{{ url_for('static',
	      filename='avr.css') }}">   
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/js/inputfile-custom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript">
      function loading(){
            $("#WaitDiv").show();
            $("#WaitMessage").show()
    
        }

	</script>
    
<style>
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
    
  </head>
  <body>
  
     <div id="procesar_candidatos" class="form-style-3">
        <!-- {% from "macros/dropdown.html" import dropdown %} -->

			<fieldset><legend>Descargar Archivo</legend>
				<a href="{{ url_for('.download_file') }}"><button class="formButton">Descargar Resultados!</button></a>
			</fieldset>
	 </div>

  </body>
</html>