<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Custom File-Input</title>
    <link rel="stylesheet" href="{{ url_for('static',
	      filename='avr_form.css') }}">   
	 <link rel="stylesheet" href="{{ url_for('static',
	      filename='avr.css') }}">   
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/js/inputfile-custom.js"></script>
    
    <script type="text/javascript">
			function myfunc() {
    			alert("The form was submitted");
			}
	</script>
  </head>
  <body>
  
     {% block content %}
     		<div class="form-style-3">
				<form method="post" action="uploader" enctype="multipart/form-data">
					<fieldset><legend>Cargar Dataset</legend>
					
      				<input type="file" accept=".csv,.xlsx, .xlsm, .xlsb, .xltx" name="choose_file" id="choose_file" class="inputfile custom" />
      				<label for="choose_file"><span id="file_name"></span><strong>Dataset</strong></label>
						                    <input type="hidden" id="opcion" name="opcion" value="{{ accion }}">
      				<p>
            				<input type="submit" value="Cargar" class="formButton">
         			</p>
         			<p style="color:red;" class="font_message" >{{error_load}}</p>
         			<p style="color:green;" class="font_message" >{{status_load}}</p>
         		
      			</fieldset>
				</form>
			</div>
		{% endblock %}

  </body>
</html>